*
!Dockerfile
!.dockerignore
!.gitignore
!README.md
!.github/
!.github/workflows/
!.github/workflows/candidate.yml
!.github/workflows/promote.yml
!.github/workflows/check-upstream.yml
!unraid/
!unraid/caddy-custom.xml
!assets/
!assets/caddy-custom-icon.png
!LICENSE
!THIRD_PARTY_NOTICES.md
!licenses/
!licenses/*.txt
!scripts/
!scripts/collect-notices.sh
